<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kenzan Application</title>
  <link href="style.css" rel="stylesheet">
</head>

<body ng-app="kenzanApplication">
  <div ng-controller='MainController'>

    <div class="basic-grey">
      <h1>Coin Converter
        <span>Please insert a number to be converted</span>
      </h1>

      <form name="form" nonvalidate>
        <label>
          <input ng-model="pennies" validCurrency id="pennies"  name="pennies" placeholder="Starting Amount" />
        </label>
      </form>

      <label>
        <input type="button" class="button" value="Convert" ng-click="convertCoins()"/> 
        <div class="center">
        <span ng-show="showInvalidError" id="input-notice">Input must be made of numbers, pence (p), and pound (£) symbols. </span>
      </div>
      </label>    


      <table id="main">
        <tr>
          <th class="coin">Coin</th>
          <th class="amount">Amount</th>
        </tr>

        <tr>
          <td>1p</td>
          <td class="amount">{{ coins.onePence }}</td>
        </tr>

        <tr>
          <td>2p</td>
          <td class="amount">{{ coins.twoPence }}</td>
        </tr>

        <tr>
          <td>20p</td>
          <td class="amount">{{ coins.twentyPence }}</td>
        </tr>

        <tr>
          <td>50p</td>
          <td class="amount">{{ coins.fiftyPence }}</td>
        </tr>

        <tr>
          <td>£1</td>
          <td class="amount">{{ coins.onePound }}</td>
        </tr>

        <tr>
          <td>£2</td>
          <td class="amount">{{ coins.twoPound }}</td>
        </tr>
      </table>

    </div>

  </div>

  <script src="main.bundle.js"></script>
</body>
</html>